<mat-sidenav-container class="container">
    <!--FixedTopGap 64 => espaço para iniciar o menu-->   
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <!--mat-nav-list => estilo do menu - vertical--> 
        <mat-nav-list class="nav-list">
            <a mat-list-item selected routerLink="/home">
                <i class="material-icons">
                    home
                </i>
                Início
            </a>
            <a mat-list-item routerLink="/travel">
                <i class="material-icons">
                    flight
                </i>
                Viagens
            </a>
            <a mat-list-item routerLink="/task">
                <i class="material-icons">
                    task
                </i>
                Tarefas
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">  
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
