.container {
    height: 100%;
    background-color: #151515;
}

button {
    background-color: #151515;
    margin-bottom: 30px;
    color: #fff;
    background-color: #6833e4;
    border-radius: 6px;
    transition: 0.3s;
    cursor: pointer;
    opacity: 0.8
}

button:hover {
    opacity: 1;
}