.mat-card {
    background: linear-gradient(270deg,#121212, #161616);
}

.home .title {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
    color: #fff;
}

.home .subtitle {
    font-size: 1.1rem;
    color: #fff;
    opacity: 0.7;
}